* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.cartao {
    width: 260px;
    height: 200px;
    perspective: 1000px;
}

.cartao-imagem {
    width: 100%;
    height: 140px;      
    object-fit: contain; 
    background-color: #f0f0f0; 
    border-radius: 12px 12px 0 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cabecalho-link {
    color: rgb(0, 0, 0);
    text-decoration: none; 
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 24px;
}

footer {
    background-color: rgb(0, 0, 0);
    padding: 15px 25px;
    color: rgb(0, 0, 0);
}

.cartao-interno {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartao:hover .cartao-interno {
     transform: rotateY(180deg);
}

.cartao-frente, .cartao-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(65, 43, 43, 0.15); 
    backface-visibility: hidden; 
    background-color: rgb(255, 0, 0);  }

.cartao-verso {
    transform: rotateY(180deg);
}

section {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}